<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.geekhour.loki.mapper.AssetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.geekhour.loki.entity.Asset">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="sn" property="sn" />
        <result column="type" property="type" />
        <result column="model" property="model" />
        <result column="config" property="config" />
        <result column="ip" property="ip" />
        <result column="description" property="description" />
        <result column="provider" property="provider" />
        <result column="department_id" property="departmentId" />
        <result column="location" property="location" />
        <result column="status" property="status" />
        <result column="use_status" property="useStatus" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="count" property="count" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, code, sn, type, model, config, ip, description, provider, department_id, location, status, use_status, purchase_date, purchase_price, count, version, create_time, update_time, deleted
    </sql>

</mapper>
